{% extends "tv/base.html" %}
{% block content %}
<p style="font-size:30px; color:#9ab">About</p><pre></pre>
<p style="font-size:18px; color:white">
    TrackTV is designed to simply let users track the TV shows they have watched and provide their ratings.
    The website has been made with Python, Django and uses <a href="http://www.tvmaze.com/api">
    TVmaze API</a> to show the information.<p>
    <p style="font-size:16px; color:#9ab">The source code for the project can be found
    <a href="https://github.com/iammanish17/TrackTV/">here</a>!
</p>

{% endblock content %}